# Ignore Python bytecode files
*.pyc

# Ignore Python's cache directories
__pycache__/

# Ignore the SQLite database file
db.sqlite3

# Ignore environment variables files
.env

# Ignore log files
*.log

# Ignore static files
/static/

# Ignore media files
/media/
